<% url = "homepage/testimonies/frederic-mazzella_18_slider" %>
<% url_xs = "homepage/testimonies/frederic-mazzella_18" %>
<div class="item">
  <div class="testimonial-wrapper hidden-xs" style="background-image: linear-gradient(rgba(240,240,240,0.8) 0%, rgba(200,200,200,0.6) 50%), url(<%= cl_image_path url %>);">    
    <%= render partial: "shop/testimonials/mazella_content" %>
  </div>
  <div class="testimonial-wrapper visible-xs" style="background-image: linear-gradient(rgba(240,240,240,0.8) 0%, rgba(200,200,200,0.6) 50%), url(<%= cl_image_path url_xs %>);">      
    <%= render partial: "shop/testimonials/mazella_content" %>
  </div>
</div>