<div class="testimonial-author">
  Frédéric Mazzella
  ,  
  CEO
  @
  <a href='http://www.blablacar.com/' target='_blank' class="company-name">BlaBlaCar</a>
   - 
  France 
</div>
<div class="testimonial-quote">
  "It's important to share experience in order to motivate
  entrepreneurs to think global and expand internationally.I was
  very pleased to share my experience with BlaBlaCar during an
  event organized by Beeleev. French companies have tremendous
  international opportunities, let's transform these opportunitiesinto real global expansion!"
</div>