<% url = "homepage/testimonies/perrine_bismuth_color_18_slider" %>
<div class="item active">
  <div class="testimonial-wrapper" style="background-image: linear-gradient(rgba(240,240,240,0.8) 0%, rgba(200,200,200,0.6) 50%), url(<%= cl_image_path url %>);">
    <div class="testimonial-author">
      Perrine Bismuth
      , 
      Founder
      @
      <a href='http://frenchfoodcapital.com/' target='_blank' class="company-name">FrenchFood capital</a>
       - 
      France
    </div>
    <div class="testimonial-quote">
      "Thanks to Beeleev, I was able to use the Smart Connector and I really enjoyed it. It was a quick way to find the right people to help me with my fundraising. It was a great opportunity for me to meet with large companies because it is usually hard to get to them. The Smart connector helped me growing a positive network around my project. So yes, I would definitely endorse this tool."
    </div>
  </div>
</div>