<div id="home_banner">
  <%= image_tag "homepage/banner.jpg", class: "img_banner" %>
  <div class="corner-triangle" draggable="true">
  </div>

  <div class="triangle-text-wrapper">
    <p>
      We help<br/>
      entrepreneurs<br/>
      grow globally<br/>
    </p>
    <p class="orange-bloc">
      A Community of 3,500<br/>
      International Entrepreneurs<br/>
    </p>
    <!-- TODO: Add page url when done -->
    <a href="#">Why join us</a>
  </div>
</div>
