<div id="home_banner" class="">

	<div class="slideshow_wrapper text-center">
    <video autoplay="" muted="" loop="" class="embed-responsive-item video-banner" id="autovid" width="100%">
      <source src="/assets/videos/banner.webm" type="video/webm">
      <source src="/assets/videos/banner.mp4"  type="video/mp4">
      <source src="/assets/videos/banner.mov"  type="video/quicktime">
      <source src="/assets/videos/banner.ogg"  type="video/ogg">
	  </video>

		<div class="slideshow_inner_wrapper">
			<div id="slideshow_title">
				<h1>
					GROW GLOBAL
					<br>
					<span>WITH US</span>
				</h1>
			</div>

			<div id="slideshow_subtitle">
				<h2>
					Find&nbsp;Qualified International&nbsp;Entrepreneurs, Experts&nbsp;&&nbsp;Partners to&nbsp;Boost your&nbsp;Development
				</h2>
			</div>

			<%= link_to "APPLY NOW", '', class: "btn btn-orange18-orange", data: { toggle: :modal, target: '#professional-status-selector-modal' } %>

			<div class="subsubtitles">
					<h3>EXCHANGE & LEARN</h3>
					<span>•</span>
					<h3>INTERNATIONAL CONTACTS</h3>
					<span>•</span>
					<h3>MEET IN REAL LIFE</h3>
			</div>

			<div class="down-arrow floating">
				<%= show_svg 'down_arrow.svg' %>
			</div>
		</div>
	</div>
</div>
