<div id="home_banner">
  <%= image_tag "homepage/banner-trimmed.jpg", class: "img_banner" %>
  <div class="corner-triangle">
  </div>


  <div class="triangle-text-wrapper">
    <p>
      We find<br/>
      the right contact<br/>
      on the right place<br/>
    </p>
    <p class="orange-bloc">
      A Global Community of 35,000<br/>
      International Entrepreneurs<br/>
    </p>
    <!-- TODO: Add page url when done -->
    <a href="/services">Why join us</a>
  </div>

</div>
