<div id="home_banner">
  <%= image_tag "homepage/banner-trimmed.jpg", class: "img_banner" %>
  <div class="corner-triangle">
  </div>

  <div class="triangle-text-wrapper">
    <p>
      We help<br/>
      entrepreneurs<br/>
      grow globally<br/>
    </p>
    <p class="orange-bloc">
      A Community of 5,000<br/>
      International Entrepreneurs<br/>
    </p>
    <!-- TODO: Add page url when done -->
    <a href="/services">Why join us</a>
  </div>
</div>
