
<div id="entrepreneurs-examples">
	<h2>
		A FEW SUCCESSFUL PROJECTS
	</h2>
	<div class="container">
		<div class="row text-center entrepreneurs-examples-wrapper">
			<div class="entrepreneurs-examples col-xs-12 col-md-4">
				<%= image_tag "18/rasmus.png" %>
				<p>
					Rasmus Arendt Nielsen, CEO of Brandheroes, <br/>has been put in contact with a Communication Agency  <br>
					in NYC to help him in his expansion strategy
				</p>
			</div>
			<div class="entrepreneurs-examples col-xs-12 col-md-4">
				<%= image_tag "18/esteban.png" %>
				<p>
					Esteban Sarabia, CEO of Q4tech,<br/>met 5 french entrepreneurs during his last business trip in Paris. These qualified connections allowed him to talk about his services and better understand how he should develop his company in France
				</p>
			</div>
			<div class="entrepreneurs-examples col-xs-12 col-md-4">
				<%= image_tag "18/marshal.png" %>
				<p>
					Marshal Sterio, CEO de Surgically Clean Air, <br/>was able to meet 2 potential Chines Partners to export his Air Cleaning Solutions
				</p>
			</div>
		</div>
	</div>
</div>