<div id="feedbacks">
  <center>
    <div class="custom-header">
      <h2 class="custom-header-content">
        Your success is our success
      </h2>
    </div>

    <div class="">
      <!-- carousel -->
      <div id="carousel-feedbacks" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-feedbacks" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-feedbacks" data-slide-to="1"></li>
          <li data-target="#carousel-feedbacks" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "homepage/feedbacks_2.png" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "homepage/feedbacks_2.png" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "homepage/feedbacks_2.png" %>
          </div>
        </div>

        <a class="left carousel-control"
           href="#carousel-feedbacks"
           role="button"
           data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="right carousel-control"
           href="#carousel-feedbacks"
           role="button"
           data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      <!-- end carousel -->
    </div>
  </center>
</div>
