
<div id="kpis" style="background-image: url(<%= cl_image_path "mosaic_main_paeefi" %>);">
	<div class="container">
	  <div class="row text-center kpis-wrapper">
	    <div class="col-xs-12 col-md-3">	    
	      		<div class="kpis-number">
	      			<%= @beeleevers %>
	      		</div>
	      		<div class="kpis-text">
	      			FOUNDERS
	      		</div>
  		</div>

	    <div class="col-xs-12 col-md-6">
	      		<div class="kpis-number">
	      			OVER $6BN
	      		</div>
	      		<div class="kpis-text">
	      			CUMULATED TURNOVER
	      		</div>
  		</div>

	    <div class="col-xs-12 col-md-3">
	      		<div class="kpis-number">
	      			200
	      		</div>
	      		<div class="kpis-text">
	      			COUNTRIES
	      		</div>
	    </div>
	  </div>
	</div>
</div>
