<div id="services">
  <div class="container-fluid">
    <div class="row">
      <div>
        <div class="service">
          <h2>Do partnerships</h2>
          <p>
            Access our network and<br/>
            make qualified contacts
          </p>
          <a href="#">Read more</a>
        </div>
        <div class="service">
          <h2>Explore markets</h2>
          <p>
            Benefit from our services to<br/>
            discover new opportunities
          </p>
          <a href="#">Read more</a>
        </div>
      </div>
      <div>
        <div class="service">
          <h2>Find your team</h2>
          <p>
           Ask the community to<br/>
           hire the best talents
          </p>
          <a href="#">Read more</a>
        </div>
        <div class="service">
          <h2>Raise money</h2>
          <p>
            Present you next project<br/>
            and find investors
          </p>
          <a href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>