<div id="services">
  <div class="container-fluid">
    <div class="row">
      <div class="service">
        <h2>Raise money</h2>
        <p>
          Raise Money and Find your team
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="service">
        <h2>Find your team</h2>
        <p>
          Raise Money and Find your team
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="service">
        <h2>Do partnership</h2>
        <p>
          Raise Money and Find your team
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="service">
        <h2>Explore markets</h2>
        <p>
          Raise Money and Find your team
        </p>
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
</div>