<div id="testimonials" class="below-navbar-fixed-top-anchor">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div id="carousel-testimonies" class="carousel slide">
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-testimonies" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-testimonies" data-slide-to="1"></li>
				    <li data-target="#carousel-testimonies" data-slide-to="2"></li>
				  </ol>

				  <div class="carousel-inner">
				    <%= render "home/testimonials/testimony_1" %>
            <%= render "home/testimonials/testimony_2" %>
            <%= render "home/testimonials/testimony_2" %>
				  </div>

				  <a class="left carousel-control"
				  		href="#carousel-testimonies"
				    	role="button"
				    	data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
			    </a>

				  <a class="right carousel-control"
				    href="#carousel-testimonies"
				    role="button"
				    data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
					</a>
			</div>
		</div>
				
		</div>
	</div>
</div>