<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="hidden-xs testimonial-padding-wrapper">
            </div>
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/Florent-Daversin__18" %>
                <%=  cl_image_tag url,
                  class: 'avatar-xl box-shadowed',
                  fetch_format: 'auto',
                  width: 250,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              
              <div class="testimonial-text-inner-wrapper">
                <div>
                  <h3 class="testimonial-title_">
                    Florent Daversin
                    , 
                    Founder
                    @
                    <a href='http://www.vo2-group.com/' target='_blank' class="company-name">VO2 GROUP</a>
                     - 
                    France
                  </h3>
                  <p class="testimonial-quote">
                    "Thanks to Beeleev, we were able to meet Canadian Entrepreneurs in Montreal and Toronto. We then decided to open a branch of VO2 Group in Montreal and those contacts allowed us to increase our revenue stream."
                  </p>
                </div>
              </div>              
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>