<div class="item active">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/frederic-mazzella_18" %>
                <%=  cl_image_tag url,
                  class: 'avatar-l box-shadowed',
                  fetch_format: 'auto',
                  width: 200,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              <h3 class="testimonial-title">
                Sharing Expertise
              </h3>
              <p class="testimonial-quote">
                "It's important to share experience in order to motivate
                entrepreneurs to think global and expand internationally.I was
                very pleased to share my experience with BlaBlaCar during an
                event organized by Beeleev. French companies have tremendous
                international opportunities, let's transform these opportunitiesinto real global expansion!"
              </p>
              <div class="testimonial-author">
                Frédéric Mazzella
              </div>
              <div class="testimonial-position">
                CEO
                at
                <a href='http://www.blablacar.com/' target='_blank' class="company-name">BlaBlaCar</a>
                <br>
                Paris, France
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>