<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/marshall-sterio_18" %>
                <%=  cl_image_tag url,
                  class: 'avatar-l box-shadowed',
                  fetch_format: 'auto',
                  width: 200,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              <h3 class="testimonial-title">
                BUSINESS DEVELOPMENT
              </h3>
              <p class="testimonial-quote">
                "Beeleev has connected me with two very promising people that could be helpful in assisting Surgically Clean Air enter certain international markets. We are just making high level connections at this point because we will not be in a position to enter markets outside of North America until the 4th quarter of 2016. I believe, Beeleev will be able to assist us with their platform when we are ready."
              </p>
              <div class="testimonial-author">
                Marshall Sterio
              </div>
              <div class="testimonial-position">
                Co-Fondateur et Président
                at
                <a href='http://www.surgicallycleanair.com/' target='_blank' class="company-name">Surgically Clean Air Inc.</a>
                <br>
                Toronto, Canada
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>