<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/netino_18" %>
                <%=  cl_image_tag url,
                  class: 'avatar-l box-shadowed',
                  fetch_format: 'auto',
                  width: 200,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              <h3 class="testimonial-title">
                Business Development
              </h3>
              <p class="testimonial-quote">
                "Thanks to Beeleev we were able to get in touch with Sebastien Dalmas who gave us strategic information regarding the development of our activity in Spain such as knowledge on the market potential and competitors and on the global ecosystem in Spain. Sebastien also shared with us high quality contacts who can be potential customers."
              </p>
              <div class="testimonial-author">
                Jeremie Mani
              </div>
              <div class="testimonial-position">
                Partner
                at
                <a href='http://netino.fr/' target='_blank' class="company-name">Netino</a>
                <br>
                Internet and Web services, Paris
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>