<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="hidden-xs testimonial-padding-wrapper">
            </div>
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/perrine_bismuth_color_18_slider" %>
                <%=  cl_image_tag url,
                  class: 'avatar-xl box-shadowed',
                  fetch_format: 'auto',
                  width: 250,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              
              <div class="testimonial-text-inner-wrapper">
                <div>
                  <h3 class="testimonial-title_">
                    Perrine Bismuth
                    , 
                    Founder
                    @
                    <a href='http://frenchfoodcapital.com/' target='_blank' class="company-name">FrenchFood capital</a>
                     - 
                    France
                  </h3>
                  <p class="testimonial-quote">
                    "Thanks to Beeleev, I was able to use the Smart Connector and I really enjoyed it. It was a quick way to find the right people to help me with my fundraising. It was a great opportunity for me to meet with large companies because it is usually hard to get to them. The Smart connector helped me growing a positive network around my project. So yes, I would definitely endorse this tool."
                  </p>
                </div>
              </div>              
                                
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>