<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/perrine_bismuth_18" %>
                <%=  cl_image_tag url,
                  class: 'avatar-l box-shadowed',
                  fetch_format: 'auto',
                  width: 200,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              <h3 class="testimonial-title">
                SMART CONNECTOR
              </h3>
              <p class="testimonial-quote">
                "Thanks to Beeleev, I was able to use the Smart Connector and I really enjoyed it. It was a quick way to find the right people to help me with my fundraising. It was a great opportunity for me to meet with large companies because it is usually hard to get to them. The Smart connector helped me growing a positive network around my project. So yes, I would definitely endorse this tool."
              </p>
              <div class="testimonial-author">
                Perrine Bismuth
              </div>
              <div class="testimonial-position">
                Founder
                of
                <a href='http://frenchfoodcapital.com/' target='_blank' class="company-name">FrenchFood capital</a>
                <br>
                Paris, France
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>