<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="hidden-xs testimonial-padding-wrapper">
            </div>
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/nicolas-hurtiger_18" %>
                <%=  cl_image_tag url,
                  class: 'avatar-xl box-shadowed',
                  fetch_format: 'auto',
                  width: 250,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              
              <div class="testimonial-text-inner-wrapper">
                <div>
                  <h3 class="testimonial-title_">
                    Nicolas Hurtiger
                    , 
                    CEO & Founder
                    @
                    <a href='http://www.senior-compagnie.fr/' target='_blank' class="company-name">Senior Compagnie</a>
                     - 
                    France
                  </h3>
                  <p class="testimonial-quote">
                    "Thanks to Beeleev I have found a partner in Brussels that
                    is going to help me with the development of Senior Compagnie
                    in Belgium."
                  </p>
                </div>
              </div>              
                            
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
