<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <%= image_tag "homepage/testimonies/testimony_1.png" %>
            <%= image_tag "homepage/testimonies/testimony_2.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
