<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="hidden-xs testimonial-padding-wrapper">
            </div>
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <% url = "homepage/testimonies/tim-kunde_18" %>
                <%=  cl_image_tag url,
                  class: 'avatar-xl box-shadowed',
                  fetch_format: 'auto',
                  width: 250,
                  crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <div class="visible-xs img-wrapper-mobile">
                <%=  cl_image_tag url,
                class: 'avatar-m box-shadowed',
                fetch_format: 'auto',
                width: 150,
                crop: 'scale' %>
              </div>
              <div class="testimonial-text-inner-wrapper">
                <div>
                  <h3 class="testimonial-title_">
                    Tim Kunde
                    , 
                    CEO
                    @
                    <a href='https://www.friendsurance.de/' target='_blank' class="company-name">Friendsurance</a>
                     - 
                    Germany
                  </h3>
                  <p class="testimonial-quote">
                    "It was great to meet French entrepreneurs through Beeleev. We 
                    had a very open discussion which gave a new perspective,
                    especially on common challenges and different ways of
                    approaching them."
                  </p>
                </div>
              </div>
                  
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>