.col-md-4
  .text-partner
    a href="http://www.brandi-partners.com/" target="_blank"
      img.img-responsive.center-block src=image_path('partners/blum-legal.png')
    h4.sous-titre-partner Law Firm
    p.text-justify
      |

        Blum Legal is a French IP/IT legal boutique and a member of Brandi
        Partners International, an international organization with
        experienced lawyers deployed across the globe. They represent both
        French and International clients ranging from entrepreneurs setting
        up new businesses to establish globally recognized companies. BLUM
        LEGAL Clients’ industries include: Information Technology (software,
        hardware, services), Internet and digital media, e-health, Medical
        device, Gaming, Media and Entertainment, Consumer Products and
        Retail.
