.col-md-4
  .text-partner
    a href="http://www.bnpparibas.com/" target="_blank"
      img.img-responsive.center-block src=image_path('partners/bnp.png')
    h4.sous-titre-partner style="font-size: 19px;" Retail and Investment Banking
    p.text-justify
      |

        BNP Paribas has a presence in 75 countries with more than 185,000
        employees, including 145,000 in Europe. It ranks highly in its two
        core activities: Retail Banking & Services (comprised of Domestic
        Markets and International Financial Services) and Corporate &
        Institutional Banking. In Europe, the Group has four domestic
        markets (Belgium, France, Italy and Luxembourg) and BNP Paribas
        Personal Finance is the leader in consumer lending. BNP Paribas is
        rolling out its integrated retail banking model across Mediterranean
        basin countries, in Turkey, in Eastern Europe and a large network in
        the western part of the United States. In its Corporate &
        Institutional Banking and International Financial Services
        activities, BNP Paribas also enjoys top positions in Europe, a
        strong presence in the Americas and solid and fast-growing
        businesses in Asia-Pacific.
