.col-md-4
  .text-partner
    a href="http://www.lebristolparis.com/eng/home/" target="_blank"
      img.img-responsive.center-block src=image_path('partners/bristol.png')
    h4.sous-titre-partner style="font-size: 19px;" Parisian Palace
    p.text-justify
      |

        Ideally located on rue du Faubourg Saint-Honoré, Le Bristol Paris offers a
        most fashionable stay with a unique garden in the heart of the city.
        Guests will discover a haven of gastronomy with no less than four Michelin
        stars, three at the gastronomic restaurant Epicure and one at the luxury
        brasserie 114 Faubourg. The trendy Bar du Bristol, the Spa Le Bristol by
        La Prairie and the rooftop swimming pool complete this invitation to
        French art de vivre and wellbeing making Le Bristol Paris the quintessence
        of luxury and refinement.
