.col-md-4
  .text-partner
    a href="http://www.cms-bfl.com/Pages/default.aspx" target="_blank"
      = image_tag 'partners/cms.png', class: 'img-responsive, center-block'
    h4.sous-titre-partner Law Firm
    p.text-justify
      |

        CMS Bureau Francis Lefebvre is a member of CMS founded in 1999, CMS
        is a full-service top 10 international law firm, based on the number
        of lawyers (Am Law 2013 Global 100). With 59 offices in 33 countries
        across the world, employing over 3,000 lawyers, CMS has longstanding
        expertise both at advising in its local jurisdictions and across
        borders. CMS acts for a large number of Fortune 500 companies and
        the FT European 500 and for the majority of the DAX 30. Revenues
        totalled €842m in 2013.
