.col-md-4
  .text-partner
    a href="http://www.eoffice.net" target="_blank"
      img.img-responsive.center-block src=image_path('partners/eoffice.png')
    h4.sous-titre-partner style="font-size: 19px;" Coworking Spaces
    p.text-justify
      |

        eOffice provides design-led, fully fitted shared office space and
        meeting environments for startups, entrepreneurs and growing businesses.
        A pioneer in the European coworking scene, eOffice opens its first
        coworking venue in 2002 in Central London. eOffice is currently one of
        the largest international networks of this kind. In addition to
        hotdesking and flexible full-time office space, eOffice offers a wide
        range of meeting room, conference and videoconferencing facilities as
        well as virtual office and business address services.
