.col-md-4
  .text-partner
    a href="http://www.gensse-associates.com" target="_blank"
      = image_tag 'partners/gensse.png', class: 'img-responsive, center-block'
    h4.sous-titre-partner Consulting Firm
    p.text-justify
      |
        Gensse and Associates is a consulting firm in strategy and
        structure of growth that accompanies executives and investors with
        all problems linked their businesses' growth and performances.
        The firm intervenes most often in growth crisis (slowing down and
        diminution), hyper-growth, external growth, opening of new markets,
        and activity launching.
