.col-md-4
  .text-partner
    a href="http://www.geopostgroup.com/" target="_blank"
      img.img-responsive.center-block src=image_path('partners/geopost.png')
    h4.sous-titre-partner Mail & Package Distribution
    p.text-justify
      |

        The GeoPost Group gathers the express subsidiaries of La Poste Group
        and is a major force in express deliveries throughout Europe, as
        demonstrated by its first rate Dynamic Parcel Distribution road network.
        GeoPost serves more than 230 countries on behalf of over 300,000
        worldwide. GeoPost is positioned in the first place in France and the
        second in Europe for the Courier Express Parcels market.
