.col-md-4
  .text-partner
    = image_tag 'partners/jp-guisset.png', class: 'img-responsive, center-block'
    h4.sous-titre-partner Family Office
    p.text-justify
      |

        Founded the JPG Group, an office equipment company, which was then
        sold to the Staples Group. Through SGPA, his family office,
        Jean-Paul is a shareholder in many promising start-ups, including
        Ecoburotic, ACIPA, CUC, Companeo, HA+ PME, Alter Telecom and
        Visiativ.
