.col-md-4
  .text-partner
    a href="http://www.photononstop.com/home.php" target="_blank"
      = image_tag 'partners/ndlr.png', class: 'img-responsive, center-block'
    h4.sous-titre-partner Online Digital Content Distribution
    p.text-justify
      |
        Founded in 1987, the company is a French pioneer in online digital
        content distribution. Its three brands - Photononstop, Graphicobsession
        and Bios - broadcast more than 10 million licensed images and videos
        in all categories, at all prices, for all kinds of customers. 25% of
        NDLR Group's turnover is international. Online databases are realized
        by Kopernik, the group’s subsidiary digital agency.
