.col-md-4
  .text-partner
    a href="http://www.ryder-and-davis.com/" target="_blank"
      img.img-responsive.center-block src=image_path('partners/ryder-and-davis.png')
    h4.sous-titre-partner style="font-size: 19px;" Mergers & Acquisitions Advisory Services
    p.text-justify
      |

        Specializing in mergers, acquisitions and fundraising, Ryder & Davis
        assists entrepreneurs in their strategic and financial choices at
        key moments in the lifetime of a company. Ryder & Davis was born
        from the association of two managers who have intimate knowledge of
        communication and technology, and whose synergies are at the heart
        of the success of their future projects.
