.col-md-4
  .text-partner
    a href="http://www.turnky.com/" target="_blank"
      = cl_image_tag "partners/turnkey.jpg",
                     :width=>150, :height=>150, :crop=>:pad, :gravity=>:center,
                     :fetch_format=>:auto,
                     class: "img-responsive center-block"
    h4.sous-titre-partner style="font-size: 19px;" Business Support Services
    p.text-justify
      |

        TURNKEY is an International Business Support Services Company
        established in the economic capital of Turkey. Turnkey has been in
        business for more than 10 years, and has accompanied more than 300 small
        and medium sized businesses. Our first mission is to facilitate and
        speed up your development and establishment in Turkey by putting a wide
        range of customized and operational services at your disposal.
