.col-md-4
  .text-partner
    a href="http://www.victanis.de/start/" target="_blank"
      = image_tag 'partners/victanis.png', class: 'img-responsive, center-block'
    h4.sous-titre-partner Commercial Advisory Firm
    p.text-justify
      |

        Victanis is a pan-European commercial advisory firm founded in
        Germany in 2008. Victanis supports corporate clients and financial
        investors with their growth strategy and international development.
        Victanis’ core expertise lies in the ability to support their
        clients in understanding, analyzing and executing commercial and
        investment strategies in specific markets.
