#home_banner {
	color:white;
  font-family: 'Lato', sans-serif;
	.slideshow_wrapper {
		min-height: 100vh;
		display: flex;
	  justify-content: center;
	  align-items: center;
  	position: relative;
  	overflow: hidden;
	}
  video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // filter: grayscale(50%);
    // filter: sepia(1);
    z-index: -1;
  }
	.slideshow_inner_wrapper{
	}

	#slideshow_title h1{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: white;
		font-size: 3.3em;
		padding: 20% 0 2%;
    letter-spacing: 0.02em;
    text-shadow: 1px 1px gray;
		span {
			text-shadow: none;
			font-family: 'Lato-Bold', sans-serif;
			font-weight: 900;
			color: $orange;
			letter-spacing: 5px;
			font-size: 72px;
		}
	}
	#slideshow_subtitle h2{
		font-style: italic;
		text-transform: none;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: white;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.8em;
    text-shadow: 1px 1px gray;
	}
	.subsubtitles {
		margin-top: 3em;
		margin-bottom: 2em;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 80vw;
		& h3{
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			color: white;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.4em;
		}
		& span {
			font-size: 2em;
		}
	}
	.down-arrow {
		width: 12vw;
		margin: 2em auto 0;
    path {
    	fill: $orange;
    }
	}
	.btn-orange18-orange{
		margin: 2.5em 0 0;
	}
}
//--------------- media queries ------------------
@media(max-width:767px) {
	#home_banner{
		.slideshow_inner_wrapper{
			padding: 0 1em;
		}
		#slideshow_title h1 {
			font-size: 3em;
		}
		.subsubtitles{
			flex-direction: column;
			align-items: center;
			width: unset;
		}
		.down-arrow{
			width: 30vw;
		}
	}
}
