#partners_home_18{
  position: relative;
  bottom: 50px;
  .partners-logo {
      // width: 150px;
      // margin: 0 auto;
  }
  .partners-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      width: 150px;
      margin: 0 auto;
    }
    img {
      width: 150px;
      margin: 0 auto;
    }
  }
}
//--------------- media queries ------------------
@media(max-width:767px) {
	#partners_home_18{
		padding: 0 1em;
		margin: 0;
		h2{
			font-size: 2em;
		}
		.partners-logo {
			width: 200px;
			margin: 0 auto;
		}
	}
}