<div id="partners_18">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 text-center">
        <h1>Meet our partners</h1>
        <h2>International Groups and Leaders in their Fields, our Partners support our Community of Entrepreneurs</h2>
      </div>
      <div class="col-xs-12 partners-bullets-wrapper">
        <div class="partners-bullets">
            <p>
              Sourcing Innovations<br>
              and Calling For Projects <br>
              within the Community
            </p>
            •
            <p>
              Providing them Useful Content, <br>
              Contacts & Support for their <br>
              International Growth
            </p>
            •
            <p>
              Offering them <br>
              Exclusive Discounts <br>
              on their Services
            </p>
        </div>
      </div>



      <!--  && unless current_user.status == "activation_pending" -->
      <% if user_signed_in? %>
        <%= new_connection_request_btn(classes: "btn btn-orange18-orange", btn_title: "CONTACT OUR PARTNERS", tag_classes: "col-xs-12 text-center") %>
        <!-- <div class="col-xs-12 text-center"> -->
          <%#= link_to "CONTACT OUR PARTNERS", members_path, class: "btn btn-orange18-orange" %>
        <!-- </div> -->
      <% else  %>
        <div class="col-xs-12 text-center">
          <%= link_to "APPLY NOW", '', class: "btn btn-orange18-orange", data: { toggle: :modal, target: '#professional-status-selector-modal' } %>
        </div>

        </div>
      <% end %>

      <% @partners_categories.each do |partner_category| %>
      <div class="col-xs-12">
        <div class="overtitle-date">
          <div class="lign-center">
          </div>
          <div class="title-wrapper">
            <h3>
              <%= partner_category.name %>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 partners-wrapper">
        <% partner_category.partners.order(position: :asc).each do |partner|  %>
          <%= render partial: 'partners/partner_18', locals: { partner: partner } if partner %>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>

<% content_for :meta_title, "Our Partners" %>
<% content_for :meta_description, "Our Partners Call for Projects, Source Innovation and provide our members content, contacts, exclusive discounts and support for their international growth" %>
