<div id="users_kpis">
	  <div class="row text-center kpis-wrapper">
	    <div class="col-xs-12 col-md-3">	    
	      		<div class="kpis-number">
	      			3200
	      		</div>
	      		<div class="kpis-text">
	      			CEOs
	      		</div>
  		</div>

	    <div class="col-xs-12 col-md-6">
	      		<div class="kpis-number">
	      			OVER $6BN
	      		</div>
	      		<div class="kpis-text">
	      			CUMULATED TURNOVER
	      		</div>
  		</div>

	    <div class="col-xs-12 col-md-3">
	      		<div class="kpis-number">
	      			5
	      		</div>
	      		<div class="kpis-text">
	      			OFFICES
	      		</div>
	    </div>
	  </div>
</div>