<div class="modal modal-custom fade modal-ajax" id="professional-status-selector-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="connectionRequest">
          Choose your status
        </h4>
      </div>

      <div class="modal-body">
        <div class="professional-status-selector">
          <div class="row">
            <div class="col-md-6 professional-status-selector__item">
              <h3 class="text-center"><strong>Entrepreneur</strong></h3>
              <p class="professional-status-selector__description text-center">
                Find partners and tools to help you grow your business internationaly
              </p>

              <div class="text-center">
                <%= link_to "APPLY AS AN ENTREPRENEUR", new_user_registration_path(professional_status: :entrepreneur), class: 'btn btn-wrap btn-orange18-orange', style: 'font-size: 20px' %>
              </div>
            </div>

            <div class="col-md-6 professional-status-selector__item">
              <h3 class="text-center"><strong>Expert/Local Partner</strong></h3>
              <p class="professional-status-selector__description text-center">
                Highlight your company services and products to find new customers around the world
              </p>

              <div class="text-center">
                <%= link_to "APPLY AS AN EXPERT/LOCAL PARTNER", new_user_registration_path(professional_status: :local_partner), class: 'btn btn-wrap btn-orange18-orange', style: 'font-size: 20px' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
