<br>
<div class="margin-top-62 margin-bottom-62 hidden-xs">
	<hr class="hr-75pc">
</div>
<div class="margin-top-30 margin-bottom-30 visible-xs">
	<hr class="hr-75pc">
</div>
<div id="profile_community" class="">
	<h2>MY COMMUNITY</h2>
	<br>



	<div class="container">
		<div class="row">
					
					<% @user.active_network.each do |connection| %>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<%= user_panel(connection, version_18: true) %>
						</div>
					<% end %>

		</div>
	</div>
</div>