<div id="carousel-testimonies" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <%=  render "shop/testimonials/perrine_bismuth__18" %>
	    <%=  render "shop/testimonials/frederic_mazzella__18" %>
		</div>
</div>

