<img src=<%= image_path('team/hicham.jpg') %> alt="" class="img-responsive img-circle team-avatar">
<h3 class="name">
	Hicham Bahsoun
</h3>
<h4 class="title">	
	 CHIEF DIGITAL
	 <br>
	 AMBASSADOR MIDDLE EAST &amp; AFRICA
</h4>