<img src=<%= image_path('team/pascal.jpg') %> alt="" class="img-responsive img-circle">
<h3 class="name">
	Pascal Tanchoux
</h3>
<h4 class="title">	
	 CHIEF OPERATING OFFICER
	 <br>
	 HQ - Paris
</h4>
