<img src=<%= image_path('team/vp-scandinavia.jpg') %> alt="" class="img-responsive img-circle team-avatar">
<h3 class="name">
	Rasmus Arendt Nielsen
</h3>
<h4 class="title">	
	 AMBASSADOR SCANDINAVIA
</h4>