<img src=<%= image_path('team/tatiane.jpg') %> alt="" class="img-responsive img-circle team-avatar">
<h3 class="name">
	TATIANE BORTOLOZI
</h3>
<h4 class="title">	
	 COMMUNICATION &amp;
	 EVENT MANAGER
</h4>