<img src=<%= image_path('team/wandrille.jpg') %> alt="" class="img-responsive img-circle">
<h3 class="name">
	Wandrille Feuilloy
</h3>
<h4 class="title">	
	 MARKETING & COMMUNICATION MANAGER
	 <br>
	 HQ - Paris
</h4>