<ul class="list-inline SoMeicons">
	<li>
		<a href="https://www.facebook.com/beeleevers/" target="_blank">
			<i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a href="https://twitter.com/beeleev_" target="_blank">
			<i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
		</a>
	</li>
	<li>
		<a href="https://www.linkedin.com/company/beeleev/" target="_blank">
			<i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
		</a>
	</li>
</ul>