<a class="twitter-follow-button"
   href="https://twitter.com/beeleev_"
   data-show-count="false"
   data-show-screen-name="false"></a>

<script type="IN/FollowCompany" data-id="5122606"></script>

<%= fb_like_button('https://www.facebook.com/beeleevers/', layout: 'button') %>