<div class="below-nav">


	<div class="btn btn-orange18-white">
		DO STH NOW
	</div>
	<div class="btn btn-orange18-orange">
		DO STH NOW
	</div>
	<div class="small-card">
		<%=  render "home/team/hugues_18"  %>
	</div>
	<div class="large-card">
		<%=  render "home/team/hugues_18"  %>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			  <div class="overtitle-date">
			    <div class="lign-center">
			    </div>
			    <div class="title-wrapper">
			      <h3>
			        Some title
			      </h3>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>