br

.container.cms

  .bloc
    .ligne-centre
    .contenant-titre
      h3 Legal notice

  br

  p
    |

      This website is published by BEELEEV, a simplified limited company under
      French law with capital of €15,000.00, whose registered office is at 141,
      rue de l’Université - 75007 Paris, France, registered on the Paris Trade and
      Companies Register under the number 793 209 420.

  ul
    li Chief Editor: Hugues Franc
    li= auto_link("Webmaster: http://www.crx.io/")
    li= auto_link("Contact: hello@beeleev.com")
    li VAT registration number: FR2279320942000017

  p
    |

      This website, available at the address: #{auto_link('http://www.beeleev.com')}
      (hereinafter the “Site”) is hosted by Heroku, Inc, a company  whose
      registered office is located at 650 7th St, San Francisco, CA, 94103,
      United States, provided that Heroku abides by the U.S.-EU Safe Harbor
      Framework as set forth by the U.S. Department of Commerce and the European
      Union. Heroku has certified that it adheres to the Safe Harbor Principles.
      For the avoidance of any doubts, Heroku garants that the Site is hosted in
      the European Union territory.

  p
    |

      The User shall not transmit any information on this Site which could lead
      to civil or penal liability and thus shall not disclose any information
      that is illegal, contrary to the public order or defamatory via the Site.

  h2 1. Intellectual Property

  p
    |

      The Site, its content and related form (trademarks, logos, general
      structure of the Services, texts, images whether animated or not,
      photographs, sounds, know-how, … etc.) are the exclusive property of
      BEELEEV and/or its licensors and are protected by French and international
      legislation on copyright, trademarks and intellectual property. In
      particular, BEELEEV does not grant any trademark license or right of use,
      without its prior consent.

  p
    |

      Any reproduction, representation, diffusion or re-diffusion, in whole or
      in part, of any content of the Site and its database, on any medium or by
      any means whatsoever, shall be strictly prohibited without the prior
      written consent of BEELEEV and shall constitute an infringement which may
      carry civil and criminal penalties.

  h2 2. Data Protection

  p
    |

      According to the Article 32 of the Act above-mentioned, as amended, the
      User is informed that BEELEEV, as data controller, processes personal date
      for the management of the subscriptions on the Site and the use of the
      Services.

  p
    |

      The User is notified that he/she/it has the right of access, query and
      rectification; this right allows him/her/it to correct, complete, update,
      lock or remove any personal information that is inaccurate, incomplete,
      ambiguous, out-of-date, or of which the collection, use, communication or
      retention is prohibited.

  p
    |

      The User may also, on legitimate grounds, object to the processing of
      his/her/its personal information. The User may refuse that any information
      pertaining to him/her/it is used for commercial purposes.

  p
    |

      The User may exercise its rights by sending a postal mail with a copy of
      an identity document with signature and sent to:

    | BEELEEV
    br
    | Direction Générale
    br
    | 141, rue de l’Université
    br
    | 75007 Paris - France
    br
    = auto_link("Or by e-mail at the following address: team@beeleev.com")

  p
    |

      The User is informed that all such personal data as he/she/it may provide
      are intended for use by BEELEEV, but may also be shared with its partners
      and subcontractors, to the extent necessary for the fulfilment of the
      General Terms and Conditions or for marketing purposes. Said data shall
      not be disclosed to third parties other than third parties that host or
      are involved in the publishing or operation of the Site.

  p
    |

      In addition, personal data, which may enable indirect identification, may
      also be collected and processed in order to better manage the connection
      and browsing of the Users on the Site. Therefore, BEELEEV may use
      "cookies".

  p
    b
      |

        For more information about the use and the operating mode of the
        cookies, please refer to the #{link_to "GTC", gtc_path}.

  p
    |

      BEELEEV may amend this Legal Notice without prior notice and warning, by
      displaying the said changes on the Site.

