<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="news-item">
             <a href="https://www.beeleev-media.com/project/10-questions-to-answer-about-your-business/" target="_blank">
            <%= image_tag "homepage/news/questions.png"%></a>
             <a href="https://www.beeleev-media.com/project/infographic-migration-flows-of-startup-founders/" target="_blank">
            <%= image_tag "homepage/news/infographic.png" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
