<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="news-item">
            <a href="https://www.beeleev-media.com/project/workwell-the-power-of-wellbeing-at-work/" target="_blank">
            <%= image_tag "homepage/news/workwell.png" %></a>
             <a href="https://www.beeleev-media.com/project/country-guide-doing-business-in-the-uk/" target="_blank">
            <%= image_tag "homepage/news/uk.png"%></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
