<div class="item active">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="news-item">
            <a href="#">
              <%= image_tag "homepage/news/ny_video.png" %>
            </a>
            <a href="#">
              <%= image_tag "homepage/news/invitation.png" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
