<div class="home-slideshow-item-title tk-proxima-nova-black">
  Beeleev it or not.
</div>

<div class="home-slideshow-item-desc tk-proxima-nova-bold hidden-xs">
  Beeleev is the network where internationally minded entrepreneurs
  <br>
  can co-develop and invent their future.
  <br>
  Help and be helped by your peers.
</div>

<br>
<a href="#testimonials" class="smoothscroll btn btn-white" data-no-turbolink='true'>SEE SOME TESTIMONIALS</a>
