<div class="home-slideshow-item-title tk-proxima-nova-black">
  Introducing the Smart Connector.
</div>

<div class="home-slideshow-item-desc tk-proxima-nova-bold hidden-xs">
  Beeleev is proud to launch a new feature, the SmartConnector.
  <br>
  Just tell us who and what you’re looking for, and we’ll take care of the rest.
</div>

<br>

<a href="#smart-connector"
   class="smoothscroll btn btn-white">
   DISCOVER OUR NEW FEATURE
</a>
