<div class="col-xs-12 col-md-8">
  <!-- <img src=<%#= image_path '18/world.png' %> alt="" class="img-responsive">	       -->
  <%=  cl_image_tag "maps/NorthAmerica__",
    class: 'img-responsive',
    fetch_format: 'auto',
    width: image_width,
    crop: 'scale' %>
</div>

<div class="col-xs-12 col-md-4 height-setter">
  <h3>
 	  NORTH AMERICA
  </h3>
  <div class="continent-coverage-pc">
 	  17%
  </div>
</div>