development:
  LANG: en_US.UTF-8
  STRIPE_TEST_PUBLISHABLE_KEY:
  STRIPE_TEST_SECRET_KEY:
  LINKEDIN_KEY:
  LINKEDIN_SECRET:
  SENDGRID_PASSWORD:
  SENDGRID_USERNAME:
  CLOUDINARY_CLOUD_NAME:
  CLOUDINARY_API_KEY:
  CLOUDINARY_API_SECRET:
