$gutter: 20px;

//------------ presets bootstrap -----------------


$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: $bleu-ciel;
$navbar-default-link-active-color: $bleu-ciel;

$navbar-default-bg: $bleu-fonce;
$label-default-bg: #fff;
$label-color: $orange;


//------------ boutons -----------------

$btn-default-bg: $bleu-fonce;

//------------ variables 18 ------------------
$title-grey: rgb(155,155,155);
$text-grey: rgb(75,75,75);
$bg-grey: rgb(251,251,251);


