#signup_18{
	min-height: 84vh;

	.sign-up-left {
		min-height: 62vh;
		border-right: $bg-grey 2px solid;
		flex-direction: column;
		display: flex;
	  justify-content: space-between;
	  height: 100%
	}

	h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 2.5em;
	  font-style: normal;
		color: $orange;
	  text-align:center;
	  letter-spacing: unset;
	  margin: 0;
	  padding: 1em 0 0;
    text-transform: none;
    font-style: italic;
	}

	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 1.7em;
	  font-style: normal;
		color: $gray;
	  margin: 0 0 3em;
	  text-align:center;
	  letter-spacing: unset;
    padding-top: 0;
    text-transform: none;
    font-style: italic;
	}

	.bullets {
	 	text-align: center;
	  margin-bottom:  1em;

		h3 {
			font-family: 'Lato', sans-serif;
			font-weight: 400;
			color: $gray;
			margin-top: 0;
			margin-bottom: 1em;
			font-size: 1.4em;
			text-transform: none;
			font-style: italic;
		}

		.middle-dash {
			font-size: 1.4em;
		}
	}

	.sign-up-slogan {
		min-height: 18vh;
		display: flex;
	  justify-content: center;
	  align-items: center;
	}

	h5 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: $gray;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 2.0em;

		span {
			color: $orange;
			font-size: 1.6em;
		}
	}

	.btn-orange18-orange {
		margin:0 0 0.5em;
		padding: 0.5em 4em;
		font-size: 1.3em;
		font-weight: normal;
	}

	.linkedin-btn {
		padding: 0.35em 1em;
	}

	.secundary-cta {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: $orange;
	}

	.sign-up-body {
    padding: 0 2em;
	}

	.sign-up-footer {
	}

	.approve-terms a {
		color: $bleu-fonce;
		text-decoration: none;
	}
}
@media (max-width: $screen-xs-max) {
	#signin_18 {
		.sign-in-left {
			border-right: none;
		}

		.bullets {
		  margin-bottom: 2em;
		}
	}
}
