#signup_18{
	min-height: 84vh;

	.sign-up-left {
		min-height: 62vh;
		border-right: $bg-grey 2px solid;
		flex-direction: column;
		display: flex;
	  justify-content: space-between;
	  height: 100%
	}

	h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 2.5em;
	  font-style: normal;
		color: $orange;
	  text-align:center;
	  letter-spacing: unset;
	  margin: 0;
	  padding: 1em 0 0;
    text-transform: none;

    &.italic {
      font-style: italic;
    }
	}

	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
	  font-size: 1.7em;
	  font-style: normal;
		color: $gray;
	  margin: 0 0 3em;
	  text-align: center;
	  letter-spacing: unset;
    padding-top: 0;
    text-transform: none;
    font-style: italic;
	}

  .local-partner-offer {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    font-style: normal;
    color: $gray;
    margin: 2em 0 3em;
    text-align: center;
    letter-spacing: unset;
    padding-top: 0;
    text-transform: none;
    font-style: italic;
  }

  .entrepreneur-offer {
    margin-bottom: 30px;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

	.bullets {
	 	text-align: center;
	  margin-bottom:  1em;

		h3 {
			font-family: 'Lato', sans-serif;
			font-weight: 400;
			color: $gray;
			margin-top: 0;
			margin-bottom: 1em;
			font-size: 1.4em;
			text-transform: none;
			font-style: italic;
		}

		.middle-dash {
			font-size: 1.4em;
		}
	}

	.sign-up-slogan {
		padding: 50px 0;
		display: flex;
    flex-direction: column;
	  justify-content: center;
	  align-items: center;

    h5 {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      color: $gray;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.7em;

      span {
        color: $orange;
        font-weight: 400;
        font-size: 1.6em;
      }
    }
	}

  .sign-up-header {
    background: image-url('people.png') center center;
    padding: 60px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    font-style: normal;
    color: #fff;
    text-align:center;
    letter-spacing: unset;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .5);
  }

	.btn-orange18-orange {
		margin: 0 0 0.5em;
		padding: 0.5em 4em;
		font-size: 1.3em;
		font-weight: normal;
	}

	.linkedin-btn {
		padding: 0.35em 1em;
	}

	.sign-up-body {
    padding: 0 2em;
	}

	.approve-terms a {
		color: $bleu-fonce;
		text-decoration: none;
	}

  .packs {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .packs__list {
    display: flex;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  .packs__additional-information {
    margin-top: 15px;
    width: 100%;
    flew-shrink: 0;
    flex-grow: 0;
    font-size: 12px;
    color: $text-grey;
  }

  .pack {
    border: 1px solid $orange;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: 15px;
    }

    @media screen and (max-width: 767px) {
      &:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  .pack--centered {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .pack__head {
    background: $orange;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .pack__body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .pack__description {
    margin: auto 0;
    color: $text-grey;
  }

  .pack__selector {
    margin-top: 15px;
  }

  .pack__price {
    margin-bottom: 10px;
    color: $bleu;
    font-style: italic;
  }
}

@media (max-width: $screen-xs-max) {
	#signin_18 {
		.sign-in-left {
			border-right: none;
		}

		.bullets {
		  margin-bottom: 2em;
		}
	}
}
