<footer class="footer">
  <div>
    <h3>Contacts</h3>
    <p>
      +33 1 45 67 89 90<br/>
      <a href="mailto:team@beelevv.com">team@beelevv.com</a>
    </p>
  </div>
  <div>
    <h3>About us</h3>
    <p>
      <a href="#">Board of directors</a><br/>
      <a href="#">Work at Beeleev</a>
    </p>
  </div>
  <div>
    <h3>Follow us</h3>
    <p>
      <a href="https://www.facebook.com/beeleevers/" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/beeleev_" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/company/beeleev/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </p>
  </div>
</footer>
