#white-orange-menu {

  .navbar-brand {
    margin-top: 5px;
    color: $new-orange;
    font-size: 3em;
  }

  .navbar-collapse {
    padding: 10px 30px;
  }

  .btn-menu {
    border: 2px solid $new-orange;
    border-radius: 10%;
    margin-right: 10px;
    padding: 0 10px;

    a {
      font-weight: bold;
    }
  }

  .btn-orange-background {
    background-color: $new-orange;
    &:hover {
      background-color: transparent;
      & a {
        color: $new-orange;
      }
    }
    a {
      color: white;
    }
  }

  .btn-new-orange {
    &:hover {
      color: white;
      background-color: $new-orange;
      & a {
        color: white;
      }
    }

    a {
      color: $new-orange;
    }
  }

  .horizontal-menu {
    background-image: linear-gradient(to bottom, transparent, lightgrey);
    height: 50px;
    color: $text-color;
    ul {
      vertical-align: middle;
      display: flex;
      width: 100%;
      list-style-type: none;
    }
    li {
      flex: 1 1 100%;
      margin-top: 16px; // TODO: improve :|
      a {
        color: black;
      }
    }
  }

}
