#white-orange-menu {
  padding: 10px 10px;

  .navbar-brand {
    color: $new-orange;
    font-size: 3em;
  }

  .btn-menu {
    border: 2px solid $new-orange;
    border-radius: 10%;
    margin-right: 10px;
    padding: 0 10px;

    a {
      font-weight: bold;
    }
  }

  .btn-orange-background {
    background-color: $new-orange;
    &:hover {
      background-color: transparent;
      & a {
        color: $new-orange;
      }
    }
    a {
      color: white;
    }
  }

  .btn-new-orange {
    &:hover {
      color: white;
      background-color: $new-orange;
      & a {
        color: white;
      }
    }

    a {
      color: $new-orange;
    }
  }
}
