#news {
  color: $text-grey;
  position: relative;
  bottom: 50px;

  .news-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    a {
      margin: 3%;
      width: 40%;
      height: 30%;
      min-width: 500px;
    }
     
  }
  .carousel-indicators {
    bottom: -30px; // sorry
  }
}