#news {
  color: $text-grey;
  position: relative;
  bottom: 50px;

  .news-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    img {
      margin: 3vw;
      width: 40vw;
      // height: 30vw;
      min-width: 500px;
    }
  }
  .carousel-indicators {
    bottom: -30px; // sorry
  }
}