//------------original news.scss commented-------------
#news {
  margin-bottom:20px;
  .img_side{
    padding: 0;
  }
  .text-side{
    p {
      margin-top: 30px;
      color: #9B9B9B;
      text-align: justify;
      font-size: 1.2em;
      line-height: 1.3;
      a {
        text-decoration: none;
        color: $bleu;
      }
    }
    h3 {
      font-family: 'Lato', sans-serif;
      color: $gray;
      font-size: 2em;
      margin: 0px;
      padding: 0px;
      text-align: left;
      text-transform: none;
    }
    h3.subtitle{
      font-size: 1.5em;
      color: $bleu-fonce;
      text-transform: uppercase;
    }
  }
}
.news-form {
  padding-bottom: 10px;
  background-color: #fff;
  margin: 40px 0;
  text-align: left;
  border-radius: 4px;

  h2  {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 0px;
    text-align: left;
    font-style: normal;
    margin-bottom: 5px;
    color: $gray;
  }
  h2.suite {
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left;
  }
  hr {
    height:1px;
    border:none;
    color:#ddd;
    background-color:#ddd;
    width:60%;
    margin:10px auto 40px;
  }
}

