// Colors
$light-blue: darken(#a8c7ff, 10%);
$bleu: #052aa6;
// $bleu-fonce: #001c78;
$bleu-fonce: #4163A0;
$bleu-footer: #92aefe;
$bleu-ciel: #a8c7ff;
$bleu-clair: #4d68dc;

// $orange: #fb9048;
//$orange: #364E91;
$orange: #ff8350;
$blue-shadow :#3A7BAE;
$rouge: #e03847;
$pink: #de3b4b;
$orange-arrow: #ff8350;
$grey: #ececec;


// new colors
$dark-blue: #042946; // Footer
$new-orange: #F5A623;
$new-light-blue: #0074FF;
$text-color: #4A4A4A;
