#ad_type_menu {
  display: flex;
  list-style-type: none;
  text-align: center;
  li {
    flex: 1 1 100px;
    margin-top: 1%;
    font-size: 1.2em;
    &.active > a {
      color: $orange;
    }
  }
}

.ad-actions {
  form {
    display: inline-block;
  }
  .btn {
    margin: 1%;
    font-size: 1em;
  }
}
