#ad_type_menu {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin-top:5%;
  font-weight:bold;
  font-size:17px;
  a:hover{
  text-decoration:none;
  color:$orange;
  }
  li {
    flex: 1 1 100px;
    margin-top: 1%;
    font-size: 1.2em;
    &.active > a {
      color: $orange;
    }
  }
}

.post-content {
  width: 70%;
}

.ad-actions {
  form {
    display: inline-block;
  }
  .btn {
    margin: 1%;
    font-size: 1em;
  }
}

.profile-avatar.avatar-ad {
  float: right;
  position: relative;
  bottom: 150px;
  text-align: center;
}

.avatar-ad a {
  margin-top: 10px;
  font-size: 1em;
}

@media(max-width: 990px) {
  .profile-avatar.avatar-ad {
    float: none;
    bottom: 0px;
    right: 20%;
  }
}
