<div class="col-xs-12 col-md-2">
	<%= cl_image_tag "logos/Stephane-Grynwajc_.png" ,
       width: 200,
       height: 200,
       crop: :lpad,
       gravity: :center,
       fetch_format: :auto,
       class: 'img-responsive partners-logo' %>
</div>