<div class="container">
  <div class="row" id="news">
    
    <div class="col-xs-12">
      <h1>
        LATEST NEWS
      </h1>
      <h2 class="text-center">
        All the Meet Ups, Breakfast Talks, Networking Events and Learning Expeditions you missed!
      </h2>

    </div>
    <% last_date = "" %>
    <% same_date = false %>
    <% @posts.each do |post| %>
      <% post.publication_year_month == last_date ? same_date = true : same_date = false %>
      <%= render partial: "event_posts/post_row18", locals: { post: post, same_date: same_date } %>
      <% last_date = post.publication_year_month %>
    <% end %>

  </div>
</div>  


<% content_for :meta_title, "Past Events" %>
<% content_for :meta_description, "Our latest Meet ups, Breakfast Talks, Networking Events & Learning Expeditions" %>
<%= content_for :meta_image, cl_image_path(@posts.first.illustration.full_public_id) %>