<div class="modal modal-custom fade modal-ajax" id="ajaxSmallModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal-sm">
    </div>
  </div>
</div>
