<footer class="footer">
  <div>
    <h3>Contacts</h3>
    <p>
      For any questions :<br/>
      <a href="mailto:team@beeleev.com">team@beeleev.com</a>
    </p>
  </div>
  <div>
    <h3>More Informations</h3>
    <p>
      <a href="/faq">FAQ</a>  /  
      <a href="/legal">Legal Notice</a><br/> 
      <a href="http://www.beeleev-media.com/wp-content/uploads/2018/06/Beeleev%20-%20Personal%20data%20protection%20policy%20v27062018.pdf" target="_blank">GDPR</a>  /  
      <a href="/gtc">GTC</a>
    </p>
  </div>
  <div>
    <h3>Follow us</h3>
    <p>
      <a href="https://www.facebook.com/beeleevers/" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/beeleev_" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/company/beeleev/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </p>
  </div>
</footer>
