<div class="modal modal-custom fade" id="noCreditsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content modal-sm">

      <div class="modal-header">
        <h4 class="modal-title">Missing Smart Connector credits</h4>
      </div>

      <div class="modal-body">
        <p>
          You are going to be redirected to our shop to buy Smart Connector
          credits.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary"href="<%= direct_request_path %>">Ok</a>
      </div>

    </div>
  </div>
</div>
